tensorflow >=2.11.1, !=2.11.0, <2.19.0 ; sys_platform != "darwin"
tensorflow-macos >=2.11, <2.19.0 ; sys_platform == "darwin"
numpy
scipy >=1.6.0
matplotlib
trimesh
importlib_resources
mitsuba == 3.5
pythreejs >= 2.4.2
ipywidgets >= 8.0.4
ipydatawidgets == 4.3.2
jupyterlab-widgets == 3.0.5
